<div class="container-fluid row">

    <div class="col-3">Nombre</div>
    <input class="col-9" type="text">

    <div class="col-3">apellido</div>
    <input class="col-9" type="text">

    <div class="col-3">telefono</div>
    <input class="col-9" type="text">

    <div class="col-3">correo</div>
    <input class="col-9" type="text">

    <div class="col-3">direccion</div>
    <input class="col-9" type="text">

    <div class="col-3">Area experticia</div>
    <input class="col-9" type="text">

    <div class="col-3">costo Hora</div>
    <input class="col-9" type="text">

    <div class="col-3">area interes</div>
    <input class="col-9" type="text">

    <div class="col-3">descripcion intereses   </div>
    <input class="col-9" type="text">

<!--<div class="row">-->
    <div class="col-3">redes Sociales</div>
    <div id="redes" #redesSociales> 
        <input class="col-8" type="text">
    </div>
    <button (click)="LineaMas(redesSociales)">+</button>
<!--</div>-->
    <div>
        <button (click)="registrar()">registrar</button>
    </div>
</div>
