<!--<div class="contanier">-->
    <div class="card">
        <div class="card-header">
            <h3>Asesor</h3>
        </div>
        
        <!-- busqueda asesor-->
        <!--<div class="row card">-->
            nombre:
            <input type="text" class="col-12" id="nombre" #nombre>

            apellido:
            <input type="text" class="col-12" id="apellido" #apellido>

            direccion:
            <input type="text" class="col-12" id="direccion" #direccion>

            areas especializa
            <input type="text" class="col-12" id="areas"  #areas>

            costo hora
            <input type="text" class="col-12" id="CostoHora"  #horas>

            hora mayor
            <input type="checkbox" class="col-3" (click)="cambiHoraMayor(horaMayor,horaMenor)" #horaMayor>

            hora menor
            <input type="checkbox" class="col-3" (click)="cambiarHoraMenor(horaMenor,horaMayor)" #horaMenor>
            
            <button (click)="buscar(nombre,apellido,direccion,areas,horas)">Buscar</button>
        <!--</div>-->
        <button (click)="mostrar()">Mostrar</button>
        <button (click)="registrarAsesor()">crear Asesor</button>
        <div class="card-body">
            <table class="table table-hover" border="10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>costo hora</th>
                        <th>Experticia</th>
                        <th>accion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor= "let asesor of asesor" class="text-center" >
                        <td>{{asesor.id}}</td>
                        <td>{{asesor.usuario.nombres}}</td>
                        <td>{{asesor.usuario.apellidos}}</td>
                        <td>{{asesor.costoHora}}</td>
                        <td>{{asesor.areasExperticia}}</td>
                        <td *ngIf="BotonMostrar()"><button (click)="infoAsesorAdmin(asesor.id)">ver</button><button (click)="actualizarAsesor(asesor.id)">editar</button><button (click)="removerAsesor(asesor.id)">eliminar</button></td>
                        <td *ngIf="!BotonMostrar()"><button (click)="infoAsesor(asesor.id)">ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--</div>-->
