<!--<div class="contanier">-->
    <div class="card">
        <div class="card-header">
            <h3>Asesor</h3>
        </div>
        
        <!-- busqueda asesor-->
        <div>
            areas especializa
            <input type="text" class="col-12" id="areas"  #areas>

            costo hora
            <input type="text" class="col-6" id="CostoHora"  #horas>

            hora mayor
            <input type="checkbox" class="3" (click)="cambiHoraMayor()">

            hora menor
            <input type="checkbox" class="3" (click)="cambiarHoraMenor()">
            
            <button (click)="buscar(areas,horas)">Buscar</button>
        </div>
        <button (click)="mostrar()">Mostrar</button>
        <button (click)="registrarAsesor()">crear Asesor</button>
        <div class="card-body">
            <table class="table table-hover" border="10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>accion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor= "let asesor of asesor" class="text-center" >
                        <td>{{asesor.id}}</td>
                        <td>{{asesor.usuario.nombres}}</td>
                        <td>{{asesor.usuario.apellidos}}</td>
                        <td *ngIf="BotonMostrar()"><button (click)="infoAsesor(asesor.id)">ver</button><button (click)="actualizarAsesor(asesor.id)">editar</button><button (click)="removerAsesor(asesor.id)">eliminar</button></td>
                        <td *ngIf="!BotonMostrar()"> solo el de mostrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--</div>-->
