<div class="container-fluid">

<div>Informacion de la empresa</div>
<table border="0">
    <tr>
        <th>Nombre</th>
        <th></th>
    </tr>
    <tr>
        <th>Direccion</th>
        <th></th>
    </tr>
    <tr>
        <th>Telefono contacto</th>
        <th></th>
    </tr>
    <tr>
        <th>Redes Soliales</th>
        <th></th>
    </tr>
    <tr>
        <th>Emprsas asociadas</th>
        <th></th>
    </tr>
    <tr>
        <th>Socios</th>
        <th></th>
    </tr>
    <tr>
        <th>Inversores</th>
        <th></th>
    </tr>
    <tr>
        <th>Consultores</th>
        <th></th>
    </tr>
    <tr>
        <th>Asesores</th>
        <th></th>
    </tr>
</table>
</div>