<div class="container-fluid">

<div>Informacion del consultor</div>
    <div>
        <div>Nombre</div>
        <div>{{consultor.nombres}}</div>
    </div>
    <div>
        <div>Apellido</div>
        <div>{{consultor.apellidos}}</div>
    </div>
    <div>
        <div>Correo</div>
        <div>{{consultor.correo}}</div>
    </div>
    <div>
        <div>areas en la que se especialisa</div>
        <div>{{consultor.areaExperticia}}</div>
    </div>
    <div>
        <div>Costo Hora</div>
        <div>{{consultor.Costodivora}}</div>
    </div>
    <div>
        <div>Direccion</div>
        <div>{{consultor.direccion}}</div>
    </div>
    <div>
        <div>Telefono contacto</div>
        <div>{{consultor.telefono}}</div>
    </div>
    <div>
        <div>Redes Soliales</div>
        <div>{{consultor.redesSociales}}</div>
    </div>
    <div>
        <div>areas en la que se especialisa</div>
        <div></div>
    </div>
 
<!--a completar-->
<button>consultar empresa</button>
<button>enviar mensaje</button>
</div>
