<div>
    terminar administrador falta modelo y metodos
    Buscar por Nombre y poner mas formas de filtros o requisitos
    <div class="row">
    nombre: <input type="text" #nombreBusqueda>
    </div> 
    <button (click)='Buscar(nombreBusqueda)'>buscar</button>
    <table border="1">
        <td>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>telefono</th>
                    <th>accion</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </td>
    </table>
</div>