<div class="container-fluid row">
    <div class="col-2">
        <app-menu-administrador></app-menu-administrador>
    </div>
    <div class="col-10"> 
        <div class="col-3">Nombre</div>
        <input class="col-9" type="text" value="" #nombre>

        <div class="col-3">telefono</div>
        <input class="col-9" type="text" value="" #telefono>

    <!--  <div class="col-3">correo</div>
        <input class="col-9" type="text">-->

        <div class="col-3">direccion</div>
        <input class="col-9" type="text" value="" #direccion>

    <!--<div class="row">-->
        <div class="col-3">redes Sociales</div>
        <div id="redes" #redesSociales> 
            <input class="col-8" type="text" value="">
        </div>
        <button (click)="LineaMas(redesSociales)">+</button>
    <!--</div>-->

        <div class="col-3">video pitch</div>
        <input type="file" class="col-8" #videoPitch value="">

        <button (click)="listaEmpres()">retorno</button>
        <button (click)="registrar(nombre,telefono,direccion,redesSociales,videoPitch)">registrar</button>

    </div>
<!--
    <div class="col-3">Socios</div>
    <div id="socios" #Socios>
        <input class="col-8" type="text">
    </div>
    <button (click)="LineaMas(Socios)">+</button>

    <div class="col-3">Inversores</div>
    <div id="inversores" #Inversores>
        <input class="col-8" type="text">
    </div>
    <button (click)="LineaMas(Inversores)">+</button>

    <div class="col-3">Empresas parteners</div>
    <div id="empresas" #Empresa>
        <input class="col-8" type="text">
    </div>
    <button (click)="LineaMas(Empresa)">+</button>

    <div class="col-3">Empresas que le han partneado</div>
    <div id="empresas" #Empresa>
        <input class="col-8" type="text">
    </div>
    <button (click)="LineaMas(Empresa)">+</button>
-->


</div>