<div class="container-fluid">

    <div>Informacion de la empresa</div>
    <table border="0">
        <tr>
            <th>Nombre</th>
            <th>{{producto.nombre}}</th>
        </tr>
        <tr>
            <th>descripcion producto</th>
            <th>{{producto.descripcionProductoServicio}}</th>
        </tr>
        <tr>
            <th>descripcion problema</th>
            <th>{{producto.descripcionProblemaQSoluciona}}</th>
        </tr>
        <tr>
            <th>Costo</th>
            <th>{{producto.costoUnidad}}</th>
        </tr>
    </table>
</div>