<div class="container-fluid row">
    <div class="col-3">
        <app-menu-administrador></app-menu-administrador>
    </div>
    <div class="col-9">
        <div class="col-2">Identificador</div>
        <div class="col-9">{{empresa.id}}</div>

        <div class="col-2">Nombre</div>
        <div class="col-9">{{empresa.nombre}}</div>
   
        <div class="col-2">Direccion</div>
        <div class="col-9">{{empresa.direccion}}</div>
    
        <div class="col-2">Telefono contacto</div>
        <div class="col-9">{{empresa.telefonoContacto}}</div>
   
        <div class="col-2">Redes Soliales</div>
        <div *ngFor="let redes1 of redes">
            <div  class="col-9">{{redes1}}</div>
        </div>
  
        <div class="col-9">vido pitch</div>
        <div class="col-9">{{empresa.videoPitch}}</div>

        <button (click)="eliminar()">eliminar</button>
    </div>

</div>


