<div class="container-fluid">

    <div>Informacion de la empresa</div>
    <table border="0">
        <tr>
            <th>Nombre</th>
            <th><input type="text"></th>
        </tr>
        <tr>
            <th>descripcion producto</th>
            <th><input type="text"></th>
        </tr>
        <tr>
            <th>descripcion problema</th>
            <th><input type="text"></th>
        </tr>
        <tr>
            <th>Costo</th>
            <th><input type="text"></th>
        </tr>
    </table>
    <!--falta conexcion con ase de datos-->
    <button>agregar</button>
</div>