<p>remover-empresa works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">nombre de la empresa</div>
        <input type="text" class="col-8">
    </div>

    <button>buscar</button>
    <table border="2">
        <tr>
            <th>Nombre producto</th>
            <th>Eliminar</th>
            <th>Editar</th>
            <th>ver</th>
        </tr>
        <tr><!--
            <td>emprendiApp</td>
            <td><button>Eliminar</button></td>
            <td><button>Editar</button></td>
            <td><button>Ver</button></td>-->
        </tr>
    </table>
</div>
