<nav>
    <ul>
        <li>
            <a > Administrador</a>
            <ul>
                <li>
                    <a (click)='agregarAdministrador()'>agregar</a>
                </li>
                <li>
                    <a (click)='listarAdministradorEdit()'>editar</a>
                </li>
                <li>
                    <a (click)='removerAdministrador()'>eliminar</a>
                </li>
                <li>
                    <a (click)='infoAdmin()'>informacion</a>
                </li>
            </ul>
        </li>
        <li>
            <a> Empresa</a>
            <ul>
                <li>
                    <a (click)='regEmpresa()'>agregar</a>
                </li>
                <li>
                    <a (click)='editEmpresa()'>editar</a>
                </li>
                <li>
                    <a (click)='removerEmpresa()'>eliminar</a>
                </li>
                <li>
                    <a (click)='infoEmpresa()'  >informacion</a>
                </li>
            </ul>
        </li>
        <li>
            <a >Socio</a>
            <ul>
                <li>
                    <a (click)='registrarSocio()'>agregar</a>
                </li>
                <li>
                    <a (click)='editarSocio()'>editar</a>
                </li>
                <li>
                    <a (click)='removerSocio()'>eliminar</a>
                </li>
                <li>
                    <a (click)='infoSocio()'>informacion</a>
                </li>
            </ul>
        </li>
        <li>
            <a >Inversor</a>
            <ul>
                <li>
                    <a (click)='regInversor()'>agregar</a>
                </li>
                <li>
                    <a (click)='editarInversor()'>editar</a>
                </li>
                <li>
                    <a (click)='removerInversor()'>eliminar</a>
                </li>
                <li>
                    <a (click)='infoInversor()'>informacion</a>
                </li>
            </ul>
        </li>
        <li>
            <a > Consultor</a>
            <ul>
                <li>
                    <a (click)='registroConsultor()'>agregar</a>
                </li>
                <li>
                    <a (click)='editarConsultor()'>editar</a>
                </li>
                <li>
                    <a (click)='remverConsultor()'>eliminar</a>
                </li>
                <li>
                    <a (click)='infoConsultor()'>informacion</a>
                </li>
            </ul>
        </li>
        <li>
            <a >Asesor</a>
            <ul>
                <li>
                    <a (click)='registroAsesor'>agregar</a>
                </li>
                <li>
                    <a (click)='editarAsesor()'>editar</a>
                </li>
                <li>
                    <a (click)='removerAsesor()'>eliminar</a>
                </li>
                <li>
                    <a (click)='infoAsesor()'>informacion</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
