
<nav>
    <ul>
        <li>
            <a (click)='infoAdmin()'> Administrador</a>
        </li>
        <li>
            <a (click)='infoEmpresa()'> Empresa</a>
        </li>
        <li>
            <a (click)='infoSocio()'>Socio</a>
        </li>
        <li>
            <a (click)='infoInversor()'>Inversor</a>
        </li>
        <li>
            <a (click)='infoConsultor()'> Consultor</a>
        </li>
        <li>
            <a (click)='infoAsesor()'>Asesor</a>
        </li>
        <li>
            <a (click)='infoProductp()'>Producto</a>
        </li>
        <li>
            <a (click)="mensajes()">Mensajes</a>
        </li> 
    </ul>
</nav>

