<div class="row">
    <div class="col-3">

    </div >
    <div class="col-9">
        terminar administrador falta modelo y metodos
Buscar por Nombre
<input type="text" #nombreBusqueda>
<button (click)='Buscar(nombreBusqueda)'>buscar</button>
    <table>

        <td>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>telefono</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </td>
    </table>
    </div>

</div>