<div class="container-flow row">
    <div class="col-2">
        <app-menu-administrador></app-menu-administrador>
    </div>
    <div class="col-10">
        <div>Asesor:</div>
        <div>identificador {{asesor.id}}</div>

        <div>nombres: {{asesor.ususario.nombres}}</div>
        <div><input type="text" value=""></div>

        <div>apellidos: {{asesor.ususario.apellidos}}</div>
        <div><input type="text" value=""></div>

        <div>telefono: {{asesor.ususario.telefono}}</div>
        <div><input type="text" value=""></div>

        <div>correo: {{asesor.ususario.email}}</div>
        <div><input type="text" value=""></div>      
       
        <div>direccion Contacto: {{asesor.ususario.direccionContacto}}</div>
        <div><input type="text" value=""></div>

        
        <div>areas experticia: {{asesor.areasExperticia}}</div>
        <div><input type="text" value=""></div>

        <div>areas Interes: {{this.asesor.areasInteres}}</div>
        <div><input type="text" value=""></div>

        <div>descripcion de los intereses: {{asesor.ususario.descripcionIntereses}}</div>
        <div><input type="text" value=""></div>

        <div>costo hora: {{asesor.costoHora}}</div>
        <div><input type="text" value=""></div>

        <div>conocimiento que aporta: {{asesor.conociminetoQAporta}}</div>
        <div><input type="text" value=""></div>

        <div >Redes sociales</div>
        <div *ngFor="let redes of redesSociale" #rede2 id="redes2">
           <div >{{redes}} <input type="text" value="" ></div> 
        </div>
        <button (click)="LineaMas()">+</button>

        </div>
        <button (click)="actualizarAsesor()"> actualizar </button>
    </div>
</div>