<div class="container-fluid row">
    
    <div class="col-3">
        <app-menu-administrador></app-menu-administrador>
    </div>
    <div class="col-8">
    <div>
        identificador: {{socio.id}}
    </div>
    <div>
        nombre: {{socio.usuario.nombres}}
    </div>
    <div>
        apellidos: {{socio.usuario.apellidos}}
    </div>
    <div>
        telefono: {{socio.usuario.telefono}}
    </div>
    <div>
        email: {{socio.usuario.email}}
    </div>
    <div>
        descripcion de los intereses: {{socio.usuario.descripcionIntereses}}
    </div>
    <div>
        direccion de contacto: {{socio.usuario.direccionContacto}}
    </div>  
    <div>
        areas en las que se expecialisa: {{socio.areasExperticia}}
    </div>
    <div>
        conocimineto que aporta: {{socio.conociminetoQAporta}}
    </div>
    <div>
        cantidad horas dispuesto trabajar: {{socio.cantidadHorasDispuestoTrabajar}}
    </div>
    <div>
        <button (click)="eliminar()">Elminiar</button>
        <button (click)="retorno()">retorno</button>        
        <button (click)="mostrar()">mostrar</button>
    </div>
</div>
</div>