<div class="container-fluid">
    <div class="row">
        <span class="col-sm-3"> Palabra especcifica:</span><input class="col-sm-6" type="text" id="palabra">
    </div>
    <div class="row">  
        <span class="col-sm-3">direccion de la empresa:</span><input class="col-sm-6" type="text" id="direccion"> 
    </div>

    <div class="row"> 
        <span class="col-3">producto empresa: </span>
    <select name="productos" class="col-6">
        <option value="">seleccion</option>
        <option value="servicios">servicios</option>
        <option value="productos">productos</option>
    </select>
    </div>
    <div class="row"> 
        <span class="col-3">fecha de creacioin de la empresa:</span><input class="col-6" type="date" id="FechaCreacion"> 
    </div>
    <div class="row"> 
    <span class="col-3">tipo empresa:</span>
    <select name="tipo" class="col-6">
        <option value="">seleccion</option>
        <option value="servicios">tecologico</option>
        <option value="productos">ambiental</option>
        <option value="administrativa">administrativa</option>
    </select>
    </div>

    <div calss="row" style="text-align:center;">
        <button class="center">buscar</button>
    </div>

    <div style="text-align: center;"> 
        empresas encontradas
    </div>

</div>