<div class="container-fluid ">

    <button (click)="mostrar()">mostrar</button>
    <h1 >Informacion del asesor</h1>
    <div class="row">
        <div class="col-5">Identificador</div>
        <div class="col-7">{{asesor.id}}</div>
    </div>
    <div class="row">
        <div class="col-5">Nombre</div>
        <div class="col-7">{{asesor.usuario.nombres}}</div>
    </div>

    <div class="row">
        <div class="col-5">Apellido</div>
        <div class="col-7">{{asesor.usuario.apellidos}}</div>
    </div>

    <div class="row">
        <div class="col-5">Telefono contacto</div>
        <div class="col-7">{{asesor.usuario.telefono}}</div>
    </div>

    <div class="row">
        <div class="col-5">Correo</div>
        <div class="col-7">{{asesor.usuario.email}}</div>
    </div>

    <div class="row">
        <div class="col-5">areas Experticia</div>
        <div class="col-7">{{asesor.areasExperticia}}</div>
    </div>

    <div class="row">
        <div class="col-5">Costo Hora</div>
        <div class="col-7">{{asesor.costoHora}}</div>
    </div>   
    
    <div class="row">
        <div class="col-5">Direccion</div>
        <div class="col-7">{{asesor.usuario.direccionContacto}}</div>
    </div>
     
    <div class="row">
        <div class="col-5">Emprsas a las que asesora</div>
    <!--    <div *ngFor='let Empresa of asesor.Empresasdivbajo'>
            {{Empresa.nombre}}
        </div>-->
    </div>

    <div class="row">
        <div class="col-5">mensajes realizados</div>
        <div class="col-7"></div>
    </div>

    <div class="row">
        <div class="col-5">llamada realizados</div>
        <div class="col-7"></div>
    </div>

    <div class="row">
        <div class="col-5">convocatorias </div>
        <div class="col-7"></div>
    </div>

    <div class="row">
        <div class="col-5">trabaja con:</div>
        <div class="col-7"></div>
    </div>

    <div class="row">
        <div class="col-5">Redes Soliales</div>
        <div *ngFor="let redes of redesSociale" #rede2 id="redes2">
            <div class="col-7">{{redes}}</div> 
        </div>    
    </div>
<!--falta referencia a rutas-->
</div>