<div class="container-fluid">
    <div>
        <app-menu-administrador></app-menu-administrador>
    </div>
    <div>
        hay que enviarle el nombre del ususario
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>asunto</th>
                    <th>accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mensaje of mensajes">
                    <th>{{mensaje}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>