<!--<div class="contanier">-->
    <div class="card">
        <div class="card-header">
            <h3>Producto</h3>
        </div>
<button (click)="registrarProducto()">crear Producto</button>
        <div class="card-body">
            <table class="table table-hover" border="10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nombre</th>
                        <th>descripción</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor= "let Producto of producto" class="text-center" >
                        <td>{{Producto.id}}</td>
                        <td>{{Producto.usuario.nombres}}</td>
                        <td>{{Producto.usuario.apellidos}}</td>
                        <td *ngIf="BotonMostrar()"><button (click)="infoProductoAdmin(Producto.id)">ver</button><button (click)="actualizarProducto(Producto.id)">editar</button><button (click)="removerProducto(Producto.id)">eliminar</button></td>
                        <td *ngIf="!BotonMostrar()"><button (click)="infoProducto(Producto.id)">ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--</div>-->
