<div class="container-fluid row">

    <div class="col-10"><h3> Informacion de la empresa</h3></div>
    <div class="col-10">Nombre</div>
    <div class="col-10">{{empresa.nombre}}</div>
   
    <div class="col-10">Direccion</div>
    <div class="col-10">{{empresa.direccion}}</div>
    
    <div class="col-10">Telefono contacto</div>
    <div class="col-10">{{empresa.telefonoContacto}}</div>
   
    <div class="col-10">Redes Soliales</div>
    <div *ngFor="let redes1 of redes">
        <div  class="col-10">{{redes1}}</div>
    </div>
  
    <div class="col-10">vido pitch</div>
    <div class="col-10">{{empresa.videoPitch}}</div>
<!--
    <tr>
        <div>Emprsas asociadas</div>
        <div *ngFor='let empresas of empresa.EmpresasTrbajo'>
            {{empresas.nombre}}
        </div>
    </tr>
    <tr>
        <div>Socios</div>
        <div *ngFor='let socios of empresa.sociosInversores'>
            {{socios.nombres}}
        </div>
    </tr>
    <tr>
        <div>Inversores</div>
        <div *ngFor='let inversores of empresa.sociosInversores'>
            {{inversores.nombres}}
        </div>
    </tr>
    <tr>
        <div>Consultores</div>
        <div *ngFor='let consultores of empresa.AsesorConsultor'>
            {{consultores.nombres}}
        </div>
    </tr>
    <tr>
        <div>Asesores</div>
        <div *ngFor='let asesores of empresa.AsesorConsultor'>
            {{asesores.nombres}}
        </div>
    </tr>-->

<!--a completar-->
</div>