<div class="container-fluid row">

    <div class="col-2">
        <app-menu-administrador></app-menu-administrador>
    </div>

    <div class="col-9 row">
        <div class="col-3">Nombre:</div>
            <input class="col-9" type="text" value="" #nombre>

            <div class="col-3">apellido:</div>
            <input class="col-9" type="text" value="" #apellido>

            <div class="col-3">telefono:</div>
            <input class="col-9" type="text" value="" #telefono>

            <div class="col-3">correo:</div>
            <input class="col-9" type="text" value="" #correo>

            <div class="col-3">direccion:</div>
            <input class="col-9" type="text" value="" #direccioin>

            <div class="col-3">Area experticia:</div>
            <input class="col-9" type="text" value="" #experticia>

            <div class="col-3">costo Hora:</div>
            <input class="col-9" type="text" value="" #costoHora>

            <div class="col-3">area interes:</div>
            <input class="col-9" type="text" value="" #areaInteres>

            <div class="col-3">descripcion intereses:</div>
            <input class="col-9" type="text" value="" #descripcionInteres>

            <div class="col-3">conocimiento que aporta</div>
            <input class="col-9" type="text" value="" #conocimientoAporta>

            <!--<div class="row">-->
            <div class="col-3">redes Sociales:</div>
            <div id="redes" #redesSociales value="" class="col-9 row"> 
                <input class="col-12" type="text">
            </div>
            <div>
                <button (click)="LineaMas(redesSociales)">+</button>    
            </div>
            <div>
                <button (click)="registrar(nombre,apellido,telefono,correo,direccioin,experticia,costoHora,
                areaInteres,descripcionInteres,conocimientoAporta,redesSociales)">registrar</button>
            </div>
    </div>  
</div>
