<div class="container-fluid row">

    <div class="col-3">
        <app-menu-administrador></app-menu-administrador>
    </div>
    <div class="col-9">
        <div>Informacion de la empresa</div>
            <div>
                <div>Nombre: {{empresa.nombre}}</div>
                <input type="text" class="col-12" #empresaNombre>
            </div>
            <div>
                <div>Direccion: {{empresa.direccion}}</div>
                <input type="text"  class="col-12" #empresaDireccion>
            </div>
            <div>
                <div>Telefono contacto: {{empresa.telefonoContacto}}</div>
                <input type="text" class="col-12" #empresaTelefonoContacto>
            </div>
            <div>
                <div>
                    vido pitch
                </div>
                <input type="file" #empresaVideoPitch>
            </div>
            <div>
                <div>Redes Soliales</div>
                <div id="redesSociales"  #empresaRedesSociales >
                    <input type="text" value="" class="col-12">
                </div>
                <button (click)="LineaMas()">+</button>
            </div>
        
        <button (click)="actualizar(empresaNombre,empresaDireccion,empresaTelefonoContacto,empresaVideoPitch,empresaRedesSociales)">Actualizar</button>
    </div>
</div>