<div class="container-fluid row">

    <div class="col-3">
        <app-menu-administrador></app-menu-administrador>
    </div>
    <div class="col-9">
        <div>Informacion de la empresa</div>
            <div>
                <div>Nombre</div>
                <input type="text" #empresaNombre>
            </div>
            <div>
                <div>Direccion</div>
                <input type="text" #empresaDireccion>
            </div>
            <div>
                <div>Telefono contacto</div>
                <input type="text" #empresaTelefonoContacto>
            </div>
            <div>
                <div>
                    vido pitch
                </div>
                <input type="file" #empresaVideoPitch>
            </div>
            <div>
                <div>Redes Soliales</div>
                <div id="redesSociales" *ngFor="let redes of ">
                    <input type="text" #empresaRedesSociales>
                </div>
                <button (click)="LineaMas()">+</button>
            </div>
        
        <button>Actualizar</button>
    </div>
</div>