<div class="container-fluid">

    <div>Informacion de la empresa</div>
    <table border="0">
        <tr>
            <th>Nombre</th>
            <th>
                <input type="text" [(ngmodel)]="empresa.nombre">
            </th>
        </tr>
        <tr>
            <th>Direccion</th>
            <th><input type="text" [(ngmodel)]="empresa.direccion"></th>
        </tr>
        <tr>
            <th>Telefono contacto</th>
            <th><input type="text" [(ngmodel)]="empresa.telefonoContacto"></th>
        </tr>
        <tr>
            <th>Redes Soliales</th>
            <th><input type="text" [(ngmodel)]="empresa.redesSociales"></th>
        </tr>
    
        <tr>
            <th>
                vido pitch
            </th>
            <th>
                <input type="text" [(ngmodel)]="empresa.videoPitch">
            </th>
        </tr>
    </table>
    <!--falta realizar metodo-->
    <button>Actualizar</button>
</div>