<!--<div class="contanier">-->
    <div class="card">
        <div class="card-header">
            <h3>Consultor</h3>
        </div>
            <div class="row">
                nombre:
                <input type="text" class="col-12" id="nombre" #nombre>
    
                apellido:
                <input type="text" class="col-12" id="apellido" #apellido>
    
                direccion:
                <input type="text" class="col-12" id="direccion" #direccion>
    
                areas especializa
                <input type="text" class="col-12" id="areas"  #areas>
    
                costo hora
                <input type="text" class="col-6" id="CostoHora"  #horas>
    
                hora mayor
                <input type="checkbox" class="col-3" (click)="cambiHoraMayor()">
    
                hora menor
                <input type="checkbox" class="col-3" (click)="cambiarHoraMenor()">
                
                <button (click)="buscar(nombre,apellido,direccion,areas,horas)">Buscar</button>
            </div>
       

        <button (click)="mostrar()">Mostrar</button>
        <button (click)="registrarConsultor()">crear Consultor</button>
        
        <div class="card-body">
            <table class="table table-hover" border="10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>accion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor= "let Consultor of consultor" class="text-center" >
                        <td>{{Consultor.id}}</td>
                        <td>{{Consultor.usuario.nombres}}</td>
                        <td>{{Consultor.usuario.apellidos}}</td>
                        <td *ngIf="BotonMostrar()"><button (click)="infoConsultorAdmin(Consultor.id)">ver</button><button (click)="actualizarConsultor(Consultor.id)">editar</button><button (click)="removerConsultor(Consultor.id)">eliminar</button></td>
                        <td *ngIf="!BotonMostrar()"><button (click)="infoConsultor(asesor.id)">ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--</div>-->
