<div class="container-fluid">

<div>Informacion del asesor</div>
<table border="0">
    <tr>
        <th>Nombre</th>
        <th></th>
    </tr>
    <tr>
        <th>Direccion</th>
        <th></th>
    </tr>
    <tr>
        <th>Telefono contacto</th>
        <th></th>
    </tr>
    <tr>
        <th>Redes Soliales</th>
        <th></th>
    </tr>
    <tr>
        <th>areas en la que se especialisa</th>
        <th></th>
    </tr>
    <tr>
        <th>Emprsas a las que asesora</th>
        <th></th>
    </tr>
<a href="/src/app/enviar-mensaje/enviar-mensaje.component.html">enviar mensaje</a>
</table>
</div>